body { 
    background-color: #fcba03;
}

ul {
    list-style-type: none;
}

/* text color */
.devoured { 
    color: red;
}
 
/* text color */
.noteaten {
    color:black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.devoured {
    flex-grow: 1;
	/* background: #333; */
	padding: 0.5em 2em 1.7em 2em;
	/* margin: 1em 0 1em 1em; */
}

.not-devoured {
    flex-grow: 1;
	padding: 0.5em 2em 1.7em 2em;
	/* background: #71BC78;
	margin: 1em 1em 1em 0; */
}

.burgers-container {
    display: flex;
}

.header1 {
    text-align: center;
}

.add-a-burger-container {
    text-align: center;
}